.our-projects {
    padding-top: 95px;
    padding-bottom: 95px;
}

.our-projects__button-list {
    display: flex;
    margin-bottom: 56px;
    justify-content: center;
}

.our-projects__button-item + .our-projects__button-item {
    margin-left: 8px;
}

.our-projects__button-item {

    border-radius: 4px;
    background: #F5F4FA;
}

.our-projects__button {
    padding: 6px 22px;
    background-color: transparent;
    border: transparent;
    color: #212121;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63em;
    letter-spacing: 0.48px;
    &:hover,
    &:focus {
        background-color: #2196F3;
        color: #fff;
        cursor: pointer;
        border-radius: 4px;

    }
}
.project-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}

.project-list__item {
    margin-right: 30px;
    margin-bottom: 30px;

    border: 1px solid #EEE;

    &:nth-child(3n) {
        margin-right: 0px;    
    }
    &:nth-last-child(-n+3) {
        margin-bottom: 0px;
    }

    &:hover {
        box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }
}

.project-discription {
    padding: 20px 24px;
}

.project-name {
    color: #212121;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 2em;
    letter-spacing: 1.08px;
}
.project-type {
    color: #757575;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.87em;
    letter-spacing: 0.48px;
}

.project-list__overlay {
    position: relative;
    overflow: hidden;
    display: flex;
}
.project-overlay {
    position: absolute;
    background-color: #2196F3E5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    top: 0;
    left: 0;
    transition: transform 250ms linear;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .project-list__item:hover & {
        transform: translateY(0%);
    }

}

.project-overlay__text {
    padding: 63px 24px;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
}