:root {
    --main-title-color: #fff;
    --secondary-title-color: #212121;
    --main-text-color: #757575;
    --secondary-text-color: rgba(255, 255, 255, 0.60);
    --accent-color: #2196F3;
}

.list {
    list-style: none;
}


.link {
    text-decoration: none;
}